<div id="reset" class="bg-twinnyBackground w-screen h-screen">
    <div class="flex justify-center">
        <div class="bg-white absolute lg:form-shadow w-full    
                    lg:w-[560px] h-auto lg:top-40">
            <div class="flex flex-col justify-items-center">
                <div class="w-full flex flex justify-center mt-16">
                    <img src="assets/logo-twinny.png" 
                        class="w-[269.77px] h-[60px]"/>
                </div>

                <div class="w-full flex justify-center mt-20 px-24">

                    <div class="flex flex-col items-center">

                        <div class="w-full">
                            <h3 class="text-center font-extrabold text-2xl">Reset your password</h3>
                        </div>

                        <div class="relative text-gray-600 focus-within:text-gray-400 mt-10">
                            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                                <i class="bi bi-lock text-xl"></i>
                            </span>
                            <input-password></input-password>
                        </div>
                        

                        <div class="relative text-gray-600 focus-within:text-gray-400 mt-10">
                            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                                <i class="bi bi-lock text-xl"></i>
                            </span>
                            <input-password></input-password>
                        </div>

                       
                    </div>
                    
                </div>

                <twinny-button-gradient [text]="'Confirm'"></twinny-button-gradient>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>