.grandient-button {
    background: linear-gradient(90deg, #AE3AC8 0%, #B43CC7 10.42%, #BD43BF 20%, #C84AB9 28.65%, #CE50B4 40%, #D855AE 47.92%, #D759A3 54.17%, #D95C9A 65.1%, #D9628B 72.4%, #DA6680 80%, #DB6A79 89.06%, #DA6F69 100%);
    border-radius: 10px;
    padding: 10px 0;
    font-size: 16px;
}