<div class="w-full md:p-8 md:relative">
  <div class="bg-white fixed w-full flex justify-between md:justify-end md:relative">

    <div class="flex w-full p-6 shadow-sm justify-start md:hidden">
      <button (click)="openSidebar()">
        <i class="bi bi-list text-4xl"></i>
      </button>
    </div>

    <div class="flex p-6 shadow-sm justify-end">
      <img src="assets/carnet.jpeg" 
           class="rounded-full shadow-sm"     
           width="50" 
           height="50"/>
    </div>

  </div>

  <div class="p-4 bg-white rounded-md flex">
    <sidebar *ngIf="isOpenSidebar" class="md:block"></sidebar>
    
    <div class="w-full p-6 mt-20 lg:mt-4">
      <h1 class="text-center text-4xl font-bold mb-10 md:text-left" *ngIf="username">Hi, {{ username }}</h1>

      <h6 class="">Overview</h6>

      <div class="mt-4 w-full flex flex-col lg:flex-row lg:justify-center">

          <div class="w-full lg:w-1/3"
               *ngFor="let stat of stats">
               <app-card [stat]="stat"></app-card>
          </div>
      </div>

      <div class="mt-8">
        <graph-zone></graph-zone>
      </div>

    </div>
  </div>
</div>