<div class="w-full fixed md:p-8 md:relative">
  <div class="bg-white flex justify-between md:justify-end">

    <div class="flex p-6 shadow-sm justify-start md:hidden">
      <i class="bi bi-list text-4xl"></i>
    </div>

    <div class="flex p-6 shadow-sm justify-end">
      <img src="/assets/carnet.jpeg" 
           class="rounded-full shadow-sm"     
           width="50" 
           height="50"/>
    </div>

  </div>

  <div class="p-4 bg-white rounded-md flex">
    <sidebar></sidebar>
    
    <div class="w-full p-6 mt-4">
      <h1 class="text-center text-4xl font-bold mb-10 md:text-left">Hi, Jorge Luis Bou-saad</h1>

      <h6 class="">Overview</h6>

      <div class="mt-4 w-full flex flex-col md:flex-row md:justify-center">

          <div class="w-full md:w-1/3"
               *ngFor="let stat of stats">
               <app-card [stat]="stat"></app-card>
          </div>
      </div>

      <div class="mt-8">
        <graph-zone></graph-zone>
      </div>

    </div>
  </div>
</div>